:root {
  --header-bar-height: 60px;
  --mobile-header-bar-height: 60px;
  --nav-bar-size: 80px;
  --mobile-nav-bar-size: 10%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #f1f4f6;
}

.app-container {
  width: 100%;
  height: 100%;
}

/* .customIconContainer {
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  padding: 0.5rem;
} */

.btnGroup Button {
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 0;
  cursor: pointer;
  padding: 6px 14px;
}

.btnGroup::after {
  content: "";
  clear: both;
  display: table;
}

.btnGroup Button:not(:last-child) {
  border-right: none;
}

@media only screen and (min-width: 769px) {
  .app-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: var(--nav-bar-size);
    background: white;
    height: var(--header-bar-height);
  }
  .app-navbar {
    width: var(--nav-bar-size);
    position: fixed;
    left: 0;
    height: 100%;
    background: white;
    text-align: center;
  }
  .collapsed-nav-bar {
    position: fixed;
    top: 0;
    left: var(--nav-bar-size);
    padding: 0 18px;
    background-color: white;
    height: 100%;
    max-width: 0px;
    overflow-x: hidden;
    background: black;
    transition: 0.2s ease-out;
  }
  .collapsed-nav-bar.open {
    max-width: 20%;
  }
  .app-internal-container {
    background: black;
    position: fixed;
    width: calc(100% - var(--nav-bar-size));
    height: calc(100% - var(--header-bar-height));
    top: var(--header-bar-height);
    left: var(--nav-bar-size);
  }

  .side-drawer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    /* width: 11.47%; */
    z-index: 200;
    box-shadow: 4px 0 5px -2px rgba(0, 0, 0, 0.5);
    transform: translateX(-125%);
    transition: transform 0.5s ease-out;
  }

  .side-drawer.open {
    transform: translateX(0);
    position: fixed;
    left: var(--nav-bar-size);
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .thumbnail-item {
    margin-top: 0.5rem;
  }

  .font-ex-tn img {
    display: inline-block !important;
    width: 40% !important;
    height: 4% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }

  .side-drawer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 11%;
  }

  #nav-button {
    width: 60px;
    height: 55px;
  }

  .textContainer.text-center {
    font-size: 10px;
  }

  .nav-item {
    list-style-type: none;
    margin-top: 0.5rem;
    height: 3rem;
  }

  .nav-item-link {
    color: black;
    text-decoration: none;
  }

  .nav-item-link:hover {
    color: black;
    text-decoration: none;
  }

  #nav-refresh-btn {
    position: fixed;
    bottom: 2rem;
    left: 1.25rem;
  }

  .bottom-btn {
    position: fixed;
    bottom: 4;
  }

  .close-icon {
    float: right;
    margin-right: 10%;
  }

  .drawer-text-input {
    margin-left: 10%;
    width: 80%;
  }

  .text-holder {
    margin-left: 5%;
    margin-right: 10%;
    width: 90%;
    background-color: lightgray;
    border-radius: 3px;
  }

  .formatContainer {
    margin-left: 10%;
    margin-right: 10%;
  }

  #format-group1 {
    width: 80%;
    display: inline-block;
  }

  select {
    width: 100%;
  }

  #format-group1 > label {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  #format-group2 > div > label,
  #format-group3 > div > label {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }

  #format-group2 > div,
  #format-group3 > div {
    background-color: lightgray;
    margin: 0.5rem 0;
    border-radius: 2px;
  }

  #format-group2 > div > input[type="radio"],
  #format-group3 > div > input[type="radio"] {
    margin-left: 0.2rem;
  }

  .object-heading-container {
    display: flex;
    justify-content: space-between;
  }

  .object-heading {
    margin-top: 1rem;
  }

  h6 {
    display: inline-block !important;
    line-height: 1.5 !important;
  }

  .object-link {
    text-decoration: underline;
    color: black;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }

  .object-link:hover {
    color: black;
  }

  .object-svg {
    padding: 0.1rem;
    border: 1px solid black;
    border-radius: 2px;
    margin: 0.25rem;
  }

  #object-image-upload {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    box-shadow: 0 -2px 5px -2px rgba(0, 0, 0, 0.5);
  }

  #hidden-upload-input {
    display: none;
  }

  #link-upload-input:hover {
    text-decoration: none;
  }
}
@media only screen and (max-width: 768px) {
  .app-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: white;
    height: var(--mobile-header-bar-height);
  }
  .app-navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: var(--mobile-nav-bar-size);
    background: white;
  }

  .textContainer.text-center {
    font-size: 14px;
  }

  .collapsed-nav-bar {
    padding: 0 18px;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    background: black;
    transition: 0.2s ease-out;
  }
  .collapsed-nav-bar.open {
    max-height: 40%;
  }
  .app-internal-container {
    background: black;
    position: fixed;
    width: 100%;
    height: calc(
      100% - var(--mobile-header-bar-height) - var(--mobile-nav-bar-size)
    );
    top: var(--mobile-header-bar-height);
    bottom: var(--mobile-nav-bar-size);
  }

  .app-navbar button {
    width: 16%;
    height: 80%;
    margin: 0.5rem;
  }

  .side-drawer {
    display: flex;
    width: 100%;
    height: 25%;
    background: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    z-index: 200;
    box-shadow: 0 -4px 5px -2px rgba(0, 0, 0, 0.5);
    transform: translateY(125%);
    transition: transform 0.3s ease-out;
    overflow: auto;
  }

  .side-drawer.open {
    transform: translateY(0);
    position: fixed;
    bottom: var(--mobile-nav-bar-size);
  }

  .side-drawer img {
    height: 65%;
    width: 70%;
    margin: auto 0.4rem;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .navbar-container {
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    margin-top: 0.5rem;
  }

  .nav-item {
    list-style-type: none;
  }

  .nav-item-link {
    color: black;
    text-decoration: none;
  }

  .nav-item-link:hover {
    color: black;
    text-decoration: none;
  }

  div.navbar-container > a > li > svg {
    display: flex;
    margin-left: 30%;
  }

  #nav-refresh-btn {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .app-navbar button {
    width: 17%;
    height: 80%;
    margin: 0.2rem;
  }

  .app-navbar button:first-child {
    margin-left: 0.3rem;
  }

  .textContainer.text-center {
    font-size: 13px;
  }
}
