ul {
  list-style-type: none;
  padding: 0;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

#root > div > div.side-drawer.open > ul > li > label {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  border: 1px solid #fff;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 40%;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: blue;
  border-radius: 2px;
}

:checked + label::before {
  content: "✓";
  background-color: blue;
  transform: scale(1);
}

:checked + label img {
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  li {
    display: inline-block;
  }
}
